.accountContainer {
    font-family: 'Lato', sans-serif;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    width: 1000px;
    height: 300px;
   
    .dashboardContainer {
        border-right: 1px solid #a9a9a9;
        margin-right: 2.5rem;
        
        ul {
            list-style-type: none;
            padding: 0;
            line-height: 60px;
          }
          
          li {
            cursor: pointer;
            padding: 10px;
            transition: background-color 0.3s;
            display: flex;
            align-items: center;

            span {
                padding-left: 10px;
            }
          }
          
          li:hover {
            background-color: #d3d3d3;
          }

          .deconnect {
            color: #fa6400;
          }
          
          .selected {
            background-color: #d3d3d3;
          }
      }
    
      .infoWelcomeContainer {
        flex: 1;
        display: flex;
        flex-direction: column;

        .welcomeContainer {
            display: flex;
            margin-bottom: 3rem;
            border-bottom: 1px solid #a9a9a9;
            
            justify-content: center;
            align-items: center;
            
            h1 {
                font-family: 'Lato', sans-serif;
                font-weight: 500;
            }
            .orangeText {
                color: #fa6400;
            }
        }

        .infoContainer {
            display: flex;
            .gridContainer {
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(2, auto);
                gap: 10px;

                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    box-sizing: border-box;
                    font-family: 'Lato', sans-serif;
                }

                .infoLabel {
                    font-weight: bold;
                  }
                .infoValue {
                margin-left: 100px;
                }
              }
          }
        .infoContainer,
        .welcomeContainer {
          flex: 1;
          width: 50%;
        }
      }
}

.submitButton {
    margin-top: 30px;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;    
    color: #fff;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600; 
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    }