.AdContainer {
  h1,
  h2,
  p {
    padding: 10px;
  }
  h1 {
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
  }
  h2 {
    font-family: "Roboto Condensed", sans-serif;
  }
  p {
    font-family: "Lato", sans-serif;
  }
  img {
    border-radius: 20px;
    width: 50%;
    //center
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }
  .AdDescriptionContainer {
    border: 2px solid #000;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
  }

  width: 80%;
  margin: auto;
}
