$color-main: rgb(118, 118, 250);
$color-secondary: black;
$color-background: rgb(243, 243, 243);
$color-active: rgb(30, 30, 30);

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-background;
}

li {
    list-style-type: none;
}

a {
    all: unset; 
    cursor: pointer;
}