.AnnonceGrid {
    padding-top: 50px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 60px;
    grid-auto-flow: row;
}