.AnnonceContainer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  h1,
  h2,
  p {
    padding: 10px;
  }
  h1 {
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
  }
  h2 {
    font-family: "Roboto Condensed", sans-serif;
  }
  p {
    font-family: "Lato", sans-serif;
  }
  img {
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    width: 100%;
    height: auto;
    display: block;
  }
}

//center the description of the annonce
.AnnonceDescriptionContainer {
  padding: 10px;
  text-align: center;
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
