.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FormCenteredContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
       
    }
    p {
        padding-top: 10px;
        color: #b3b3b3;
    }
    p, form {
        font-family: 'Lato', sans-serif;
    }

    .grid-container {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: auto auto;
        gap: 10px;

        .grid-item {
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding-bottom: 5px;

            input {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                font-family: 'Lato', sans-serif;
            }

            input[type=number]{
                -moz-appearance: textfield;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            
            textarea {
                width: 100%;
                height: 150px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-family: 'Lato', sans-serif;
                font-size: 13px;
                
                resize: none;
            }
        }

        .description-label, .url-label {
            grid-column: span 2;
        }
    }
    .submitButton {
    margin-top: 30px;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;    
    color: #fff;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600; 
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    }

}
