.SearchContainer {
    position: relative;
    background-image: url('https://img.freepik.com/photos-gratuite/salon-scandinave-elegant-meubles-canape-design-menthe-maquette-affiche-carte-plantes-eleg_1258-152155.jpg?w=1380&t=st=1707316537~exp=1707317137~hmac=6e649a1b07cfbe1662760a2bc4759a8bed10536ae9d0d1ceb8c08da53adcf03c'); /* Ajoutez le chemin vers votre image de fond */
    background-size: cover;
    background-position: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.SearchContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur d'ombre assombrie (noir avec une opacité de 50%) */
}

.SearchContainer h1,
.SearchContainer p {
    font-family: 'Spectral', serif;
    position: relative;
    z-index: 1; /* Assure que le texte reste au-dessus de l'ombre */
    text-align: center;
    color: white; /* Couleur du texte */
}

.SearchContainer h1 {
    font-size: 3rem;
    margin-top: 0; /* Enlever la marge supérieure par défaut */
}

.SearchContainer p {
    font-size: 1.2rem;
    margin-top: 20px; /* Marge supplémentaire entre les phrases */
}